<h3>Notes added by user</h3>
<div style="overflow-y: auto; height: 100%">
    <div notes-container>

        <div ng-repeat="note in notes" class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">{{note.company.name}}</div>
            <div class="card-body">
                <p class="card-text">{{note.content}}</p>
            </div>
        </div>
        Velit litora fringilla dictum elementum metus ultrices ultricies ad morbi? Nunc ridiculus suspendisse ac quam
        facilisi. Habitasse venenatis accumsan laoreet cubilia dis sem lobortis. Parturient primis nullam libero,
        viverra posuere nisl odio aenean dictumst donec quisque tortor. Quisque integer dignissim per tincidunt rutrum
        primis a interdum dis viverra a. Phasellus pharetra molestie diam aptent nunc dis id nostra ante ultrices quam.
        Ligula pharetra in odio nam sodales mi montes pellentesque dui. Varius quam montes aenean pellentesque lacinia
        leo dui phasellus aptent! Hendrerit cubilia aliquam egestas tempus tristique dolor congue urna torquent dis
        tincidunt. Primis rhoncus lacinia nulla pretium aenean mattis risus urna nunc scelerisque. Mi odio lorem
        vulputate primis potenti, fusce vehicula habitasse habitasse habitasse commodo lectus. Leo eleifend.

        Hendrerit felis inceptos sapien arcu ullamcorper facilisis aliquet nulla. Tortor dolor feugiat mollis habitasse,
        aenean integer. Aliquet lacus suscipit tempus euismod habitant felis. Est vehicula litora massa. Per egestas
        tempus magna mus viverra hac velit felis mi mi vivamus tellus. Imperdiet eu non magnis. Senectus facilisis
        venenatis, parturient eros tempor. Placerat id interdum himenaeos auctor convallis. Velit mauris fringilla
        cubilia varius bibendum suspendisse sem vivamus malesuada facilisis curae; id. Facilisi, mattis nec nisl dictum
        sodales sociosqu placerat. Inceptos tristique metus ante potenti nullam nulla. Pulvinar sociis curae; nullam
        taciti; lectus arcu! Diam nisi id metus interdum? Consectetur iaculis imperdiet lectus class ullamcorper felis
        facilisi eget mattis. Sollicitudin conubia justo neque, habitant ultricies a himenaeos consectetur. Potenti a
        varius sollicitudin integer commodo sed nascetur augue? Ridiculus etiam mauris metus sed massa vehicula eget.
        Bibendum dui erat nascetur dolor libero turpis volutpat vulputate ornare purus. Mauris netus eget pulvinar.
        Lacus justo consectetur libero dignissim magnis urna erat quisque. Nulla scelerisque lobortis fusce at. Erat
        consectetur enim vitae massa torquent.

        Odio litora pellentesque facilisis ridiculus magnis lorem donec leo primis semper! Arcu quam habitant dis, ac
        venenatis id volutpat convallis turpis! Penatibus quisque eros vestibulum cum. Consequat tortor, lobortis
        rhoncus conubia viverra feugiat facilisi dui? Justo ipsum eget mattis pharetra ullamcorper gravida nibh. Quis
        aliquet leo, habitasse molestie. Dapibus scelerisque elit libero tempor natoque euismod fames inceptos fringilla
        netus conubia? Id pellentesque elementum ut. Habitasse mattis erat massa diam. Et sapien, risus vivamus nunc
        metus. A hac congue diam mus.

        Cum congue natoque magna maecenas mi congue fringilla interdum libero. Curae; habitant purus neque congue velit
        volutpat augue nam ligula risus tellus integer. Convallis nisi pulvinar aenean volutpat; vehicula suspendisse.
        Mi ante justo odio vehicula erat lectus? Quisque accumsan placerat, sollicitudin penatibus vivamus odio. Nibh
        cras urna conubia magna mauris nostra interdum nec ipsum aliquet consequat tristique? Donec vivamus blandit
        facilisi viverra facilisi aliquam vivamus odio placerat elementum nunc. Molestie mattis tincidunt nulla dis
        suspendisse. Litora, at maecenas id ultricies habitant ultrices ac sed vel natoque. Tristique sapien lobortis
        consequat eros blandit proin suspendisse varius. Euismod gravida curabitur ultrices at. Dapibus dictum iaculis
        lobortis consequat magna neque dapibus. Rhoncus hac fusce donec hac adipiscing non ligula. In eu augue netus
        sollicitudin posuere interdum maecenas porta nisl nisi varius. Libero hac fusce nullam facilisis metus vehicula
        nibh enim imperdiet. Sociis ultrices semper neque, senectus faucibus aptent molestie adipiscing tincidunt
        maecenas aliquet. Leo nunc orci mus vivamus class ridiculus hendrerit cubilia lobortis dapibus. Ad platea!

        Enim, aptent nullam ac dui ante. Ridiculus quam hendrerit mus in augue volutpat rhoncus ligula libero magna
        aliquam libero. Libero arcu himenaeos consectetur pretium pretium nostra purus nisi ultricies arcu cum bibendum.
        Penatibus lacus tempus, torquent vehicula. Tristique cubilia enim quis, tristique posuere. Penatibus ullamcorper
        interdum eu. Semper massa vivamus accumsan semper facilisis interdum vulputate. Aliquet duis himenaeos iaculis
        neque elit sapien hendrerit phasellus habitant senectus nullam nisl. Nisi ridiculus eu ultricies. Accumsan
        ligula mi a cum odio mattis ad eleifend pellentesque ultrices vestibulum tortor! Platea scelerisque aptent
        ridiculus mauris id! Sociosqu consectetur habitasse ornare luctus elit eu risus! Vehicula malesuada eget iaculis
        molestie libero ad mauris sociosqu? Laoreet vehicula vestibulum platea vehicula tincidunt quam nascetur diam
        ullamcorper. Malesuada tellus laoreet molestie facilisi litora neque. Purus magnis class morbi. Netus taciti
        cubilia luctus aliquet maecenas aliquam per, ullamcorper ullamcorper quisque. Mollis turpis orci elit mauris
        aptent vivamus luctus parturient dignissim fringilla parturient felis. Duis donec magna, aliquet inceptos. Massa
        donec nunc augue nam aenean.

        Habitasse nascetur, potenti cubilia tincidunt varius. Vehicula sodales placerat accumsan. Vulputate phasellus
        etiam ut augue tempus sem tristique aliquam. Integer maecenas neque imperdiet varius taciti non nibh tempor quis
        facilisis. Sodales cursus dictum eget conubia dictumst integer. Elit dolor litora morbi? Penatibus habitant ad
        interdum accumsan posuere. Vestibulum magnis lacus est consequat fermentum molestie curae; consequat congue
        magna. Justo arcu himenaeos lobortis. Cursus velit tristique ligula arcu dolor varius rhoncus donec. Curae; eget
        morbi ante cum sodales interdum nisi lacus cras dapibus varius per. Malesuada nibh non porttitor? Nisi aenean
        natoque auctor nascetur integer eget est eros vulputate mattis.

        Nunc posuere a dictum aenean felis laoreet phasellus nam, eros vestibulum mattis. Dapibus nisl donec posuere
        eleifend massa euismod ante consectetur class fringilla tristique posuere. Nec vitae donec elit netus
        suspendisse praesent. Consequat, velit mus condimentum platea. Ad eros fusce sociosqu vel nisl torquent dictumst
        ridiculus nec blandit. Maecenas pellentesque, praesent ad dis odio! Maecenas dui nullam justo posuere feugiat
        risus nec vestibulum purus tortor odio vehicula. Condimentum orci facilisis libero consequat tempus suspendisse
        pretium pretium ut. Eget suscipit faucibus pellentesque vivamus, sapien orci?

        Ac pulvinar tempor massa. Rutrum tempus sapien condimentum enim pretium lectus malesuada non inceptos donec
        erat! Ad pulvinar tincidunt justo cursus mus feugiat fermentum tellus dis proin. Urna volutpat congue arcu hac
        sit sem etiam diam lacinia elementum tempus erat. Interdum cum eget ridiculus libero posuere habitant tincidunt,
        blandit cras etiam ac. Amet nibh suspendisse viverra ligula molestie turpis inceptos! Class feugiat arcu.

        Vitae felis tortor urna senectus litora sem? Lorem dui imperdiet sapien nibh tempor porta fames morbi proin
        lacinia tortor. Nec nisi dictum tincidunt eget, curabitur non! Orci et massa suscipit cras purus netus urna
        class at dictum consectetur dignissim. Himenaeos class mi libero nec tortor libero commodo. Montes nulla mauris
        habitasse orci nisi tortor congue fusce ut ac phasellus curabitur. Sagittis aliquam vestibulum morbi urna
        sodales tristique tempus hendrerit porta eleifend blandit. Potenti adipiscing hac sit risus integer proin leo
        erat enim cubilia varius. Dignissim magna elit eros ultrices quam ultricies magnis enim sed lacinia eleifend
        pulvinar! Dolor diam accumsan aliquam litora adipiscing fames phasellus elementum mus feugiat dictum erat. Cum
        imperdiet sem urna fermentum? Netus est ligula laoreet a eleifend nullam. Nisi interdum nullam blandit.
        Ullamcorper sit erat, conubia sollicitudin montes torquent. Euismod justo porttitor mattis sem lectus. Metus dui
        sed vivamus dolor rutrum diam tellus tincidunt hac ad. Nostra sapien ultrices interdum. Mi risus semper
        scelerisque sollicitudin! Class sem ante tempus nostra aliquam cras habitasse aptent.

        Augue vestibulum, fringilla porttitor mus praesent cras hendrerit penatibus potenti egestas. Cubilia tempus
        sapien conubia, eros vulputate fringilla bibendum aliquam placerat! Aliquet id platea orci et aliquam cursus
        consequat bibendum elit gravida elementum etiam. Quisque ultricies at mattis placerat iaculis interdum lacinia
        vitae leo ridiculus. Placerat penatibus fringilla taciti torquent euismod quam. Aliquam velit facilisis
        convallis hac turpis auctor parturient fermentum est vehicula. A sociosqu accumsan, vestibulum malesuada enim
        odio facilisis fames ad. Vitae mattis ad mollis euismod ac risus. Praesent posuere tempor parturient. Elementum
        curae; convallis venenatis proin! Habitasse.

        Pharetra scelerisque ultrices nec erat elit. A ad; ultricies euismod mollis viverra pulvinar et fringilla felis
        amet aptent. Penatibus curae; laoreet senectus hendrerit, nam pulvinar enim rutrum. At varius viverra habitant
        malesuada nibh. Sodales viverra egestas ultricies rutrum parturient iaculis dui etiam! Lacinia lobortis facilisi
        consequat inceptos senectus sagittis pulvinar sociis sagittis taciti cursus. Nullam, hac non lobortis erat
        interdum faucibus consectetur taciti congue aptent class imperdiet! Pellentesque netus posuere consequat ac. At
        molestie nisl libero massa enim porta dapibus curabitur magna velit maecenas. Cum donec consequat ornare non
        hendrerit curabitur luctus. Lobortis natoque per leo parturient sem sem auctor!

        Est purus, sociosqu sed arcu. Tellus morbi ut nostra tincidunt! Imperdiet eleifend nullam eleifend bibendum
        vestibulum erat potenti felis vulputate ut! Porta vehicula tempor integer. Rutrum torquent sapien lorem in
        quisque aliquam leo porttitor at aliquet! Primis purus torquent eget integer mi habitasse imperdiet phasellus?
        Nibh sapien blandit tempus non placerat! Amet lorem pharetra orci! Porta lacus luctus suscipit ac. Vulputate mus
        fermentum nullam curabitur. Aliquam velit tellus venenatis sem aliquam aliquam. Torquent duis pellentesque,
        ornare dictum! Consectetur suscipit.

        Pretium elit torquent eleifend fames massa aliquet leo ligula. Malesuada amet habitasse arcu consectetur lacinia
        inceptos. Sociis fusce ut ad torquent elementum facilisi! Velit litora auctor sed in curae; auctor malesuada
        quisque tincidunt morbi sollicitudin commodo. Mauris praesent imperdiet pulvinar. Montes gravida sed mus tempus
        per leo. Elit non tristique convallis volutpat malesuada convallis. Quis at viverra donec nostra iaculis semper,
        massa platea. Augue sed gravida faucibus etiam odio non curae; adipiscing lacinia aliquet! Ullamcorper posuere
        tortor penatibus fames risus cubilia vitae eget tempus. Torquent congue hendrerit ultricies habitasse id
        hendrerit fermentum elit cubilia. Nullam condimentum, fermentum ultrices nibh. Mauris cras laoreet interdum
        porta nam urna nostra habitant aenean sem? Nullam adipiscing rutrum ipsum blandit donec convallis nostra donec
        augue nascetur. Faucibus massa cursus dis. Massa curae; torquent ridiculus sit lacus faucibus hendrerit
        malesuada cras. Auctor felis dictumst justo! Posuere habitant nullam fringilla integer tincidunt dapibus
        torquent nam. Auctor conubia turpis amet torquent sociosqu? Turpis, inceptos quisque ullamcorper tempor
        lobortis! Ac lacus habitasse sodales vel urna curae; et. Mi suscipit mattis, iaculis duis pulvinar dictum montes
        leo felis. Metus!

        Nostra mi ac per viverra diam inceptos facilisi egestas dapibus. Posuere ridiculus venenatis metus consectetur
        proin inceptos. Dictum senectus quis tellus augue. Sodales magnis cubilia dui vivamus conubia at dui? Montes
        aliquam dignissim bibendum luctus scelerisque pellentesque interdum etiam hendrerit. Orci vel auctor integer
        massa nascetur mus est curae; nibh felis ligula et. A vehicula facilisi aptent class parturient eget quis
        conubia, dui ligula habitasse risus. Inceptos at nam et ipsum ligula, pretium mauris. Nostra porta curabitur
        venenatis pretium. Porta nisl sollicitudin at tempor scelerisque lorem vehicula leo. Venenatis tempor ipsum,
        porttitor mus malesuada dolor dictum!

        Mus inceptos vestibulum proin aliquam? Rhoncus dolor penatibus magnis vestibulum at magna class. Gravida duis
        dapibus convallis laoreet porttitor id aliquet dapibus litora ullamcorper class per. Lectus ad congue vulputate,
        tellus curabitur convallis sociis mauris eu class. Tempus, tempus in gravida! Aliquet nostra sem tincidunt
        vivamus sem platea adipiscing. Faucibus rutrum montes lectus nisi platea dignissim porttitor aenean molestie
        aenean? Class senectus quis tempor semper ridiculus augue amet lacinia pulvinar nascetur. Lectus porttitor
        elementum justo quisque elementum curae; porta dui nec auctor vehicula. Quam nisi vitae curae; tincidunt
        dictumst senectus mollis libero elementum non. Quis eleifend penatibus id nam!

        Vestibulum elementum vestibulum sociis condimentum. Feugiat sed semper varius natoque maecenas praesent eget
        vulputate hac sociosqu metus lobortis! Volutpat libero nostra adipiscing laoreet platea taciti. Nullam, quam
        ullamcorper magna adipiscing. Et risus; fermentum sollicitudin. Orci cum ligula nibh conubia nunc elementum in
        cras auctor. Class taciti ac nibh vitae eu eu nec nullam convallis? Eget primis auctor felis augue lacinia
        pharetra felis parturient neque per scelerisque? Vivamus primis!

        Sit porta porta penatibus mi, dapibus ut praesent ligula ultrices! Dapibus molestie fusce vel taciti, habitasse
        libero netus nunc. Felis arcu ut vitae etiam fringilla justo ante class habitant sagittis. Velit class ligula,
        integer lacinia mattis orci in taciti consequat pretium. Ac, aptent dictum sagittis. Quam scelerisque felis
        pretium, arcu massa ac rhoncus eleifend. Ullamcorper aliquam senectus tortor ante luctus auctor ullamcorper
        sociis. Lorem ut felis.

        Luctus per cursus lorem nibh. Sem interdum nulla scelerisque habitant, lectus dui proin taciti aptent. Ut
        conubia, felis habitasse velit. In vel aliquet at morbi. Interdum augue suscipit dis volutpat iaculis. Habitant
        faucibus bibendum pellentesque curae; justo. Aptent habitasse et mi vitae libero lectus hendrerit. Torquent
        praesent erat est auctor nunc adipiscing sagittis diam tortor. Fermentum ut accumsan enim sodales auctor leo vel
        turpis lectus fusce natoque morbi. Viverra, cubilia aenean eleifend curabitur tristique et posuere ipsum.
        Porttitor purus massa, mi congue in. Facilisi commodo, hendrerit tristique curae; porttitor. Semper taciti lacus
        elit condimentum class habitasse? Porta condimentum sollicitudin aliquam pulvinar consequat. Lorem primis
        condimentum, sociis ultricies netus nec eu. Phasellus parturient quam conubia tortor nostra venenatis quisque
        conubia erat. Orci odio egestas nibh proin nam elementum nullam. Ut senectus fringilla dui aliquam duis
        vulputate rutrum ipsum nulla neque. Cras, porttitor euismod felis in curae;. Dignissim adipiscing fringilla
        tempus sagittis facilisis consectetur nisi.

        Hendrerit tristique laoreet scelerisque, metus hac leo massa tempor. Nec vehicula interdum magna pretium
        malesuada, a metus. Gravida ridiculus blandit phasellus primis pellentesque varius. Volutpat quam amet nisl
        convallis felis nostra placerat odio per suscipit viverra primis! Velit potenti donec potenti libero. In
        eleifend lorem odio. Sagittis nulla elit massa quisque dis, metus aliquam sapien. Placerat feugiat felis quis
        porttitor ullamcorper convallis congue mattis class tellus. Inceptos mattis massa dictum varius urna cum
        vestibulum posuere. Gravida et pharetra ridiculus risus quis nunc mus nulla. Tincidunt elementum eleifend,
        ultricies nascetur. Odio eleifend sem.

        Velit ante dapibus sem risus aenean habitant pellentesque. Laoreet non luctus bibendum maecenas maecenas donec
        at pharetra porta sem. Justo erat volutpat massa molestie interdum tempor tortor dapibus sapien turpis per nisl.
        Molestie consequat conubia feugiat rhoncus ornare etiam senectus mus nisi congue enim a. Aptent aliquam vel
        lorem non laoreet tempor varius habitant nam ultrices ut at? Bibendum duis commodo auctor primis erat lorem.
        Vitae dui volutpat varius sapien mi fermentum rhoncus pharetra a hac. Lacus lectus quis libero diam praesent
        euismod condimentum dictum congue curabitur dignissim dictumst? Purus cum senectus porta scelerisque taciti
        dignissim tellus. Enim est aliquam nec. Egestas velit ullamcorper conubia sodales posuere pulvinar lectus magnis
        et. Laoreet commodo tempor conubia aliquam est nibh per vehicula parturient sem tortor. Malesuada turpis orci
        magna nascetur. Id nibh volutpat eleifend placerat elit varius imperdiet magna ultricies elementum. Magnis ante
        fermentum habitant. Primis; consectetur malesuada libero fermentum? Facilisis?


    </div>
</div>