*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html,body{
    width:100%;
    height:100vh;
    overflow: hidden;
    margin:0;
    padding:0;

}
body{
    display: flex;
    flex-direction: column;
}
#controls{
    clear:both;
    position: relative;
    bottom:0;
    left:0;
    height:200px;
    width:100%;
    padding-bottom: 1rem;
}
#cont{
    clear:both;
    position:relative;
    height:80%;
}
.container{
    background-color: #ffffff;
}
#userdata{
    display:grid;
    height: 100%;
    grid-template-columns: 25% auto;
    grid-column-gap: 10px;
}
#userpanel{
    /*background-color: #ced4da;*/
    text-align: center;
    height:100%;
    display:flex;
    flex-direction: column;
}
#userinfo{
    /*border-right: 4px solid #ced4da;*/
    background-color: #f5f5f0;
}
.userinfo-field{
    align-items: center;
    justify-content: center;
    font-size: large;

}
.userinfo-field #username{
    padding: 10px;
    font-size:x-large;
}
.badge{
    font-size:large;
}
#avatar{
    width:83%;
    padding:10px;
}
.menu{
    width:100%;
    height: 100%;
}
.menu a{
    text-decoration: none;
    background-color: #f8f9fa;
    display: block;
    padding:10px;
    color:black;
    height: 33%;
    border-bottom: 1px solid beige;
    margin: 0;
}
.menu a:hover{
    background-color: #ced4da;
}
.menu a.active{
    border-right: 4px solid cadetblue;
}
#leftg{
    padding-right:1rem;
}
#rigthtg{
    padding-left:1rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#goto{
    width:40px;
    padding: 4px;
    text-align:center;
}
table{
    width:100%;
    max-width:100%;
}
