<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="../static/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap.css}" />
    <link href="../static/style-login.css" rel="stylesheet" th:href="@{/style-login.css}" />
</head>
<body onload='document.login.username.focus();'>
<div id="login-cont">
    <div id="form">
    <h3>Login</h3>
        <div th:if="${errorMessge}"><div class="alert alert-danger" th:text="${errorMessge}">Error</div></div>

    <form action="/login" id="loginform" method='POST' name='login'>
        <div th:if="${loginAlert}"><div class="alert alert-success" role="alert" th:text="${loginAlert}"></div></div>
        <div class="input-group form-group row">
            <div class="input-group-prepend">
                <img alt="username" class="input-group-text" src="../static/images/username.png" style="width:35px" th:src="@{/images/username.png}">
            </div>
            <input class="form-control" name='username' placeholder="username" type='text'/>
        </div>
        <div class="input-group form-group row">
            <div class="input-group-prepend">
                <img alt="password" class="input-group-text" src="../static/images/password.png" style="width:35px" th:src="@{/images/password.png}">
            </div>
            <input class='form-control' name='password'placeholder="password" type='password'/>
        </div>
        <input class="btn btn-primary" name="submit" type="submit" value="Log in" style="width:130px;" />
        <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />
    </form>
    </div>
<div id="register">
    <a href="/register">Don't have an account?</a>
</div>
</div>
</body>
</html>